// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: $text-color;
    background-color: $c-mainLight;
    margin: 0;
}

a {
    color: $brand-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }
}
