// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

$this: '.home';

#{$this} {
    background-image: url('../../images/app_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to('tablet') {
        background-position: center;
    }
}
