$this: '.header';

#{$this} {
    align-items: center;
    color: $c-neutral000;
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
    text-shadow: 2px 2px 2px rgba(155, 155, 155, .49);

    &__title {
        flex: 1;
        font-size: 36px;
        font-weight: bold;
        justify-content: center;
        margin: 0;
        text-align: center;
        transform: translateX(24px);

        &:hover {
            cursor: pointer;
        }
    }
}
