// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Colors
$c-neutral000: #FFF;
$c-neutral100: #000;
$c-main: #268FB7;
$c-mainDark: #268FB7;
$c-lightGrey: #EFF2F7;
$c-text: #3C4858;

$c-crimson: #EE392C;
$c-amber: #FFC107;

$text-color: $c-text !default;
$brand-color: $c-main !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'mobileS': '320px',
    'mobileM': '375px',
    'mobileL': '425px',
    'tablet': '768px',
    'laptop': '1024px',
    'laptopL': '1440px',
    'desktop': '2560px',
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
