// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

$this: '.button';

#{$this} {
    background: $c-neutral000;
    border-radius: .4rem;
    border: 2px solid $c-neutral000;
    color: $c-main;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 16px;
    transition: all .2s ease-in-out;

    &:hover {
        background: unset;
        color: $c-neutral000;
    }
}
