$this: '.card';

#{$this} {
    background: $c-neutral000;
    border-radius: .4rem;
    box-shadow: -1px 1px 2px rgba(18, 42, 68, .1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0;
    padding: 24px 20px;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__title {
        color: $c-grey;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 12px;
        text-align: center;
    }

    &__description {
        margin: 8px ​0px 12px;
    }

    &__list {
        border-top: 1px solid #E7E9EC;
        padding-top: 16px;
        margin-top: 16px;
    }

    &__list-item + &__list-item {
        margin-top: 8px;
    }

    &__list-item {
        text-transform: capitalize;

        span {
            margin-left: 4px;
        }
    }

    &__address {
        display: flex;
        margin-top: 16px;

        .icon {
            color: $c-main;
            font-size: 13px;
            margin-right: 6px;
            margin-top: 2px;
        }
    }

    &__cover {
        align-items: center;
        background: #EAEEF4;
        border-radius: 6px 6px 0 0;
        display: flex;
        height: 160px;
        justify-content: center;
        margin-bottom: 24px;
        margin-left: -20px;
        margin-top: -24px;
        width: calc(100% + 40px); /* full width + card padding */

        .icon {
            color: #A8B3C3;
            font-size: 4.2rem;
        }
    }

    &__favorite {
        color: $c-amber;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    @include respond-to('mobileL') {
        width: calc(50% - 24px);
        margin-left: 12px;
        margin-right: 12px;

        &__wrapper {
            flex-direction: row;
        }
    }

    @include respond-to('tablet') {
        width: calc(33.33% - 24px);
    }

    @include respond-to('laptop') {
        width: calc(25% - 24px);
    }
}
