$this: '.filters';

#{$this} {
    color: $c-neutral000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    &__label {
        margin-bottom: 12px;
    }

    &__item {
        flex: 1;

        & + & {
            margin-left: 1.2rem;
        }
    }

    @include respond-to('mobileL') {
        width: 600px;
        align-self: center;
        max-width: 90%;
    }
}
