$this: '.link';

#{$this} {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: .4rem;
    position: relative;
    width: max-content;

    &:hover {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
    }

    &--animated {
        $element: &;

        &::after {
            background-color: currentColor;
            bottom: 0;
            content: '';
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .4s ease-in-out .1s;
            width: 100%;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}
